section
.color1 {color: #c9d4e8;}
.color2 {color: #f3f3f3;}
.color3 {color: #070707;}
.color4 {color: #aea4e5;}
.color5 {color: #e5e5e5;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background-image:url(./../imagenes/backgroun.jpg);
    
}






/* PAGINA INICIO */
/* Header */
header{
    padding: 60px;
    text-align: center;
    background-image:url(./../imagenes/image-header-1.jpg);
    background-size: cover;
    height: 500px;
    background-position: left;
    border-radius: 2px;
    width: 100%;
}

header h1{
    font-size:35px;
    margin: 10px;
    color: rgb(253, 220, 179);

}

header p{
    margin: 10px ;
    font-size: 25px;
    color: rgb(253, 220, 179);
    
    
}

header div{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin:  5px 2% 5px;
    border-radius: 20px;
    
}
@media screen and (max-width: 320px) {
    header div{
        padding: 5px;
        margin:2px 1% 2px ;
        border-radius: 10px;
    }
}

.footer{
    background-color: rgba(0, 0, 0, 0.226);
    color: #070707;
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
}

.social-icons{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    margin-right: 10px;
}

a{
    color: #070707 ;
}

a:hover{
    color: #242222 !important;
}


i{
    font-size: 30px;
    
}





/* Pagina inicio-inicio */
/* navbar inicio */
.navbar{
    background-color:  rgba(0, 0, 0, 0.226);
    border-radius:2px;
    border: 1px solid rgba(31, 28, 28, 0.148);
}

.nav-link{
    color: #070707 !important;
    text-transform: uppercase;
    text-shadow: 0 0 5px  #ebe5e5;
    font-size: 22px;
    font-weight: bold;
}

.nav-link:hover{
    color: rgb(55, 36, 15)!important;
}

.collapse{
    display: flex;
    justify-content: center;
}
/* navbar final */

/* Pagina Inicio:aside inicio */
.row{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

aside{
    flex: 30%;
    padding-top: 20px;
}

.flip-card-inner{
    text-align: center;
    transition: transform 0.65s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotatey(180deg);
}

.flip-card-front, .flip-card-back{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card-back{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 35, 35);
    transform: rotatey(180deg);
    color: #c9d4e8;
    border-radius: 10px;
    padding: 20px;
    font-size: 1vw;
}
@media screen and (max-width: 700px){
    .flip-card-back{
        font-size: 3vw;
    }
}


.flip-card-back h2{
    color:#c9d4e8 ;
    margin-top: 40px;
    
}

.flip-card-inner img{
    border-radius: 10px;
}

aside h2, aside h3 {
    color: #070707;
    text-align: center;
    font-weight: bold;
    
}
.d-f  p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}
.i-link img{
    width: 100%;
    height:120px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
}

.i-link h4{
    opacity: 0;
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin: left 5px;
    margin-top: 10px;
    transition: all 0.3s; 
    
}

.i-link:hover h4{
    opacity: 1;

}

.i-link h4{
    font-size: 12px;
    font-weight: bold;
}
/* Aside Final */

/* Section Inicio */
.main{
    flex: 70%;
    
}
.main h2{
    text-transform: uppercase;
    margin-top: 18px;
    font-size:22px;
    font-weight: bold;
    color: #070707;
}


.main p{
    padding:20px;
    text-align: justify;
    font-weight: bold;
    line-height: 2;
    
}


.main img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.main .leer-mas{
    color: #070707;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #070707;
    box-shadow: 2px 2px 5px #242222;
    font-weight: bold;
    margin-left: 20px;
}

.main .leer-mas:hover{
    color: #f3f3f3;
    background-color: #242222;
}

#leer-mas{
    display: block;
    color: #070707;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#leer-mas:hover{
    color: rgb(105, 62, 31);
}
/* Pagina Inicio:section final */

/* Pagina Quien soy Inicio*/
.container-quiensoy{
    margin-top: 20px;
    padding: 20px;
    display: flex;
}.div-audio{
    text-align: center;
    box-shadow: 0 0 45px rgb(119, 115, 115);
    border-radius: 10px;
    
    padding: 20px 30px; 
    
}
.div-audio a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.div-audio a:hover{
    color:rgb(114, 31, 31);
} 
/* Pagina Quien soy final */


/* pagina Recetas-inicio */
.recetas {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.recetas .container{
    max-width: 1200px;
    margin: auto;
}


.recetas h1{
    color: #333;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}
.recetas p{
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    font-weight: bold;
}


.recetas .col {
    flex: 1;
    margin: 10px;
    
}
.recetas .col img {
    width: 100%;
    border-radius: 10px;
    
    
}
.recetas .col h3 {
    margin-top: 10px;
    color: #333;
}
@media screen and (max-width: 320px) {
    .recetas .col {
        flex-basis: 100%;
        margin: 5px 0;
    }
}
/*paginas recetas fin */

/* PAGINA CUIDADOS */
.div-cuidados{
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: center;
    border-radius:10px ;
    border: 2px solid rgb(105, 102, 102);
    box-shadow: 0 0 45px rgb(48, 45, 45);
    
}

.h2-cuidados{
    /* width: 100%; */
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    padding:10px;
    letter-spacing: 2px;
    background-color:grey;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(58, 56, 56);
}

.p-cuidados{
    font-size:20px;
    font-weight: bold;
    padding: 15px;
    margin: 15px;
    text-align: justify;
    letter-spacing: 2;
}



ul, li{
    padding: 10px;
    margin: 10px;
    text-align: justify;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}
/* FIN DE PAGINA CUIDADOS */


/* FORMULARIO */

.form{
    width: 50%;
    min-width: 300px;
    background: rgba(0, 0, 0, 0.491);
    margin:auto ;
    margin-top: 50px;
    padding: 20px;
    color: #2755c2;
}
.form-input{
    width:100% ;
    height: 45px;
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    outline: none;
    border: none;
    border-bottom:2px solid #2756c265 ;
    margin-bottom: 15px;
    color: #fff;
}

.form-text{
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #2755c2;
    color: #fff;
}

.form-text::placeholder{
    font-size:1,4rem;
}


.consulta{
    text-align: center;
    color: #2755c2;
    padding-bottom: 16px;
    font-weight: 500;
}
.form-label{
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
}

.enviar{
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    outline: none;
    border: none;
    background: #2755c2;
    color:#fff;
    text-align: center;
    margin: 20px 0 20px 0;
    cursor: pointer;
}
.enviar:hover {
    background-color: #3364d6c3;
}










