// variables header
$padding-header: 60px;
$text-align-header: center;
$background-image-header: url(./../imagenes/image-header-1.jpg);
$background-size-header: cover;
$height-header: 500px;
$background-position-header: left;
$border-radius-header: 2px;
$width-header: 100%;
$font-size-h1: 35px;
$margin-h1: 10px;
$color-h1: rgb(253, 220, 179);
$margin-p: 10px;
$font-size-p: 25px;
$color-p: rgb(253, 220, 179);
$background-color-div: rgba(0, 0, 0, 0.4);
$padding-div: 10px;
$margin-div: 5px 2% 5px;
$border-radius-div: 20px;

// variables footer
$background-color-footer: rgba(0, 0, 0, 0.226);
$padding-footer: 20px 0;
$color-footer: #212529;
$box-shadow-footer: 0 0 5px rgb(99, 96, 96);
$width-footer-logo: 100px;
$height-footer-logo: auto;
$margin-footer-texto: 10px 0;
$font-size-footer-texto: 16px;
$line-height-footer-texto: 1.5;
$color-footer-texto: #070707;
$font-weight-footer-texto: bold;
$margin-iconos-redes-sociales: 20px 0;
$color-a-iconos-redes-sociales: #070707;
$margin-a-iconos-redes-sociales: 0 10px;
$font-size-a-iconos-redes-sociales: 24px;
$text-decoration-a-iconos-redes-sociales: none;
$color-a-iconos-redes-sociales-hover: white;
$font-size-derechos-de-autor: 14px;
$color-derechos-de-autor: #070707;
$font-weight-derechos-de-autor: bold;
$text-align-derechos-de-autor: center;
