section .color1 {
    color: #c9d4e8;
}

.color2 {
    color: #f3f3f3;
}

.color3 {
    color: #070707;
}

.color4 {
    color: #aea4e5;
}

.color5 {
    color: #e5e5e5;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// variables header
$padding-header: 60px;
$text-align-header: center;
$background-image-header: url(./../imagenes/image-header-1.jpg);
$background-size-header: cover;
$height-header: 500px;
$background-position-header: left;
$border-radius-header: 2px;
$width-header: 100%;
$font-size-h1: 35px;
$margin-h1: 10px;
$color-h1: rgb(253, 220, 179);
$margin-p: 10px;
$font-size-p: 25px;
$color-p: rgb(253, 220, 179);
$background-color-div: rgba(0, 0, 0, 0.4);
$padding-div: 10px;
$margin-div: 5px 2% 5px;
$border-radius-div: 20px;
// @media
$media-query-max-width: 320px;
$padding-div-small-screen: 5px;
$margin-div-small-screen: 2px 1% 2px;
$border-radius-div-small-screen: 10px;

// Navar Inicio
$background-color-navbar: rgba(0, 0, 0, 0.226);
$border-radius-navbar: 2px;
$border-navbar: 1px solid rgba(31, 28, 28, 0.148);
$color-nav-link: #070707 !important;
$text-transform-nav-link: uppercase;
$text-shadow-nav-link: 0 0 5px #ebe5e5;
$font-size-nav-link: 22px;
$font-weight-nav-link: bold;
$color-nav-link-hover: rgb(55, 36, 15) !important;
$display-collapse: flex;
$justify-content-collapse: center;


// Aside inicio
$display-row: flex;
$flex-wrap-row: wrap;
$margin-row: auto;
$flex-aside: 30%;
$padding-top-aside: 20px;
$text-align-flip-card-inner: center;
$transition-flip-card-inner: transform 0.65s;
$transform-style-flip-card-inner: preserve-3d;
$transform-flip-card-hover: rotatey(180deg);
$backface-visibility-flip-card: hidden;
$position-flip-card-back: absolute;
$top-flip-card-back: 0;
$width-flip-card-back: 100%;
$height-flip-card-back: 100%;
$background-color-flip-card-back: rgb(37, 35, 35);
$transform-flip-card-back: rotatey(180deg);
$color-flip-card-back: #c9d4e8;
$border-radius-flip-card-back: 10px;
$padding-flip-card-back: 20px;
$font-size-flip-card-back: 1vw;
$media-query-max-width: 700px;
$font-size-flip-card-back-small-screen: 3vw;
$color-h2-flip-card-back: #c9d4e8;
$margin-top-h2-flip-card-back: 40px;
$border-radius-img-flip-card-inner: 10px;
$color-h2-aside: #070707;
$text-align-h2-aside: center;
$font-weight-h2-aside: bold;
$text-align-p-d-f: center;
$font-size-p-d-f: 18px;
$font-weight-p-d-f: bold;
$width-img-i-link: 100%;
$height-img-i-link: 120px;
$margin-bottom-img-i-link: 10px;
$object-fit-img-i-link: cover;
$border-radius-img-i-link: 10px;
$opacity-h4-i-link: 0;
$position-h4-i-link: absolute;
$color-h4-i-link: #fff;
$background-color-h4-i-link: rgba(0, 0, 0, 0.7);
$padding-h4-i-link: 10px;
$border-radius-h4-i-link: 10px;
$margin-h4-i-link: left 5px;
$margin-top-h4-i-link: 10px;
$transition-h4-i-link: all 0.3s;
$opacity-h4-i-link-hover: 1;
$font-size-h4-i-link: 12px;
$font-weight-h4-i-link: bold;

//Section Inicio
$flex-main: 70%;
$text-transform-h2-main: uppercase;
$margin-top-h2-main: 18px;
$font-size-h2-main: 22px;
$font-weight-h2-main: bold;
$color-h2-main: #070707;
$padding-p-main: 20px;
$text-align-p-main: justify;
$font-weight-p-main: bold;
$line-height-p-main: 2;
$width-img-main: 100%;
$height-img-main: 200px;
$object-fit-img-main: cover;
$border-radius-img-main: 10px;
$color-leer-mas-main: #070707;
$text-decoration-leer-mas-main: none;
$padding-leer-mas-main: 10px 10px;
$border-radius-leer-mas-main: 5px;
$border-leer-mas-main: 1px solid #070707;
$font-weight-leer-mas-main: bold;
$margin-left-leer-mas-main: 20px;
$color-leer-mas-hover-main: #070707;
$background-color-leer-mas-hover-main: #6d6565;


// Página Quien soy Inicio
$font-size-tituloqsoy: 25px;
$color-tituloqsoy: #000000;
$text-shadow-tituloqsoy: 0 0 30px #6d6565;
$text-align-tituloqsoy: center;
$padding-tituloqsoy: 15px;
$width-container-quiensoy: 100%;
$border-radius-container-quiensoy: 5px;
$box-shadow-container-quiensoy: 0 0 35px #a18e8e;
$text-align-p-container-quiensoy: justify;
$color-p-container-quiensoy: #000000;
$width-container: 100%;
$padding-container: 20px;
$border-radius-container: 5px;
$box-shadow-container: 0 0 35px #4b2a2a;
$text-align-rows: center;
$color-p-rows: #000000;
$font-size-p-rows: 18px;
$font-size-h3-rows: 23px;
$color-h3-rows: #000000;
$padding-h3-rows: 10px;
$margin-top-div-audio: 20px;
$max-width-video: 80%;
$height-video: auto;
$border-radius-video: 10px;
$box-shadow-video: 0 0 35px #4b2a2a;
$color-a: #070707;
$text-decoration-a: none;
$font-size-a: 16px;
$font-family-a: "Montserrat", sans-serif;
$font-weight-a: 600;
$color-a-hover: #4b2a2a;

// Página Recetas inicio
$text-align-rowr: center;
$padding-section: 20px 0;
$width-img-fluid: 100%;
$height-img-fluid: auto;
$border-radius-img-fluid: 10px;
$box-shadow-img-fluid: 2px 2px 20px rgb(77, 75, 75);
$margin-bottom-img-fluid: 20px;
$color-recetas1: #070707;
$font-size-recetas1: 25px;
$text-transform-recetas1: uppercase;
$color-recetas2: #070707;
$font-weight-recetas2: 600px;
$font-size-recetas2: 22px;
$text-shadow-recetas2: 1px 1px 5px rgb(52, 49, 49);
$text-align-recetas2: center;
$color-recetas: #070707;
$font-weight-recetas: 800px;
$font-size-recetas: 16px;
$text-align-recetas: justify;

// Página Cuidados inicio
$height-div-cuidados: auto;
$padding-div-cuidados: 30px;
$font-size-h2-cuidados: 20px;
$font-style-h2-cuidados: italic;
$font-weight-h2-cuidados: 500px;
$color-h2-cuidados: #000000;
$text-align-h2-cuidados: center;
$text-transform-h2-cuidados: uppercase;
$padding-h2-cuidados: 10px;
$box-shadow-h2-cuidados: 0 0 30px rgb(66, 44, 44);
$background-color-h2-cuidados: #d9cece;
$margin-h2-cuidados: 15px;
$border-radius-h2-cuidados: 10px;
$color-h2-cuidados-hover: rgb(66, 44, 44);
$background-color-h2-cuidados-hover: rgba(75, 42, 42, 0.4196078431);
$padding-ul-li: 10px;
$margin-ul-li: 10px;
$text-align-ul-li: justify;
$text-align-ul-li: center;
$font-size-ul-li: 20px;
$font-weight-ul-li: bold;
$list-style-type-ul-li: none;
$display-container-cuidados: flex;
$font-size-p-cuidados: 20px;
$font-weight-p-cuidados: bold;
$padding-p-cuidados: 20px;
$margin-p-cuidados: 10px 10px;
$text-align-p-cuidados: justify;
$background-color-p-cuidados: #d9cece;
$box-shadow-p-cuidados: 0 0 30px rgb(66, 44, 44);
$font-style-p-cuidados: italic;
$border-radius-p-cuidados: 10px;
$color-p-cuidados-hover: rgb(66, 44, 44);
$background-color-p-cuidados-hover: rgba(75, 42, 42, 0.4196078431);

// Página Contactos inicio
$display-container-contacto: flex;
$justify-content-container-contacto: center;
$align-items-container-contacto: center;
$padding-container-contacto: 20px;
$margin-top-container-contacto: 30px;
$color-container-contacto: #070707;
$background-container-contacto: rgba(0, 0, 0, 0.141);
$border-radius-container-contacto: 15px;
$box-shadow-container-contacto: 0 0 30px black;
$background-color-container-contacto-hover: rgba(0, 0, 0, 0.655);
$color-container-contacto-hover: #2755c2;
$font-size-h2-contacto: 25px;
$margin-h2-contacto: 15px;
$font-size-p-contacto: 18px;
$margin-p-contacto: 20px;

// Formulario inicio
$width-form: 50%;
$min-width-form: 300px;
$background-form: rgba(0, 0, 0, 0.491);
$margin-form: auto;
$margin-top-form: 50px;
$margin-bottom-form: 20px;
$padding-form: 20px;
$color-form: #2755c2;
$width-form-input: 100%;
$height-form-input: 45px;
$background-form-input: rgba(0, 0, 0, 0.7);
$padding-form-input: 10px;
$border-form-input: none;
$border-bottom-form-input: 2px solid rgba(39, 86, 194, 0.3960784314);
$margin-bottom-form-input: 15px;
$color-form-input: #fff;
$width-form-text: 100%;
$background-form-text: rgba(0, 0, 0, 0.7);
$padding-form-text: 10px;
$border-form-text: none;
$border-bottom-form-text: 2px solid #2755c2;
$color-form-text: #fff;
$font-size-placeholder-form-text: 1, 4rem;
$text-align-consulta: center;
$color-consulta: #2755c2;
$padding-bottom-consulta: 16px;
$font-weight-consulta: 500;
$display-form-label: block;
$font-size-form-label: 1.4rem;
$font-weight-form-label: 300;
$width-enviar: 100%;
$height-enviar: 50px;
$background-enviar: rgba(0, 0, 0, 0.7);
$padding-enviar: 10px;
$border-enviar: none;
$background-enviar: #2755c2;
$color-enviar: #fff;
$text-align-enviar: center;
$margin-enviar: 20px 0 20px 0;
$cursor-enviar: pointer;
$background-color-enviar-hover: rgba(51, 100, 214, 0.7647058824);

// variables footer
$background-color-footer: rgba(0, 0, 0, 0.226);
$padding-footer: 20px 0;
$color-footer: #212529;
$box-shadow-footer: 0 0 5px rgb(99, 96, 96);
$width-footer-logo: 100px;
$height-footer-logo: auto;
$margin-footer-texto: 10px 0;
$font-size-footer-texto: 16px;
$line-height-footer-texto: 1.5;
$color-footer-texto: #070707;
$font-weight-footer-texto: bold;
$margin-iconos-redes-sociales: 20px 0;
$color-a-iconos-redes-sociales: #070707;
$margin-a-iconos-redes-sociales: 0 10px;
$font-size-a-iconos-redes-sociales: 24px;
$text-decoration-a-iconos-redes-sociales: none;
$color-a-iconos-redes-sociales-hover: white;
$font-size-derechos-de-autor: 14px;
$color-derechos-de-autor: #070707;
$font-weight-derechos-de-autor: bold;
$text-align-derechos-de-autor: center;
